{% extends 'dashboard.html' %}
{% load i18n %}

{% block titulo %}
    {% translate "Gráfica" %}
{% endblock titulo %}

{% translate "Descargar" as descargar %}
{% translate "Descargar en imágen JPEG" as descargarJPEG %}
{% translate "Descargar en PDF" as descargarPDF %}
{% translate "Descargar en imágen PNG" as descargarPNG %}
{% translate "Descargar en imagén de Vectores" as descargarVectores %}
{% translate "Ver en pantalla completa" as verPCompleta %}
{% translate "Imprimir gráfica" as imprimirGrafica %}
{% translate "Grafica de videojuegos por categoría" as graficaVJuegosCat %}
{% translate "Cuantos videojuegos hay por cada categoría" as cantidadJuegosCat %}
{% translate "Cantidad de videojuegos" as cantVideoJuegos %}

{% block contenido %}
    <div id="grafica" style="min-width: 310px;height: 400px;margin: 0 auto"></div>
    <script src="https://code.highcharts.com/highcharts.src.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/exporting-data.js"></script>

    <script>
        Highcharts.chart('grafica',{
            lang: {
                downloadCSV: '{% translate "Descargar" %} CSV',
                downloadJPEG: "{{ descargarJPEG }}",
                downloadPDF: "{{ descargarPDF }}",
                downloadPNG: "{{ descargarPNG }}",
                downloadSVG: "{{ descargarVectores }}",
                viewFullscreen: "{{ verPCompleta }}",
                printChart: "{{ imprimirGráfica }}"
            },
            chart: {
                type: 'column'
            },
            title : {
                text: "{{graficaVJuegosCat}}"
            },
            subtitle: {
                text: "{{cantidadJuegosCat}}"
            },
            xAxis: {
                categories: ['Categorías']
            },
            yAxis: {
                min: 0,
                title: {
                    text: "{{cantVideoJuegos}}"
                }
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0,
                }
            },
            series: {{datos | safe}}
        });
    </script>
{% endblock contenido %}