{% extends 'dashboard.html' %}

{% block titulo %}
    Grafica
{% endblock titulo %}

{% block contenido %}
    <div id="grafica" style="min-width: 310px;height: 400px;margin: 0 auto"></div>
    <script src="https://code.highcharts.com/highcharts.src.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/exporting-data.js"></script>

    <script>
        Highcharts.chart('grafica',{
            lang: {
                downloadCSV: "Descargar CSV",
                downloadJPEG: "Descargar en imágen JPEG",
                downloadPDF: "Descargar en PDF",
                downloadPNG: "Descargar en imágen PNG",
                downloadSVG: "Descargar en imagén de Vectores",
                viewFullscreen: "Ver en pantalla completa",
                printChart: "Imprimir gráfica"
            },
            chart: {
                type: 'column'
            },
            title : {
                text: 'Grafica de videojuegos por categoría'
            },
            subtitle: {
                text: 'Cuantos videojuegos hay por cada categoría'
            },
            xAxis: {
                categories: ['Categorías']
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Cantidad de videojuegos'
                }
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0,
                }
            },
            series: {{datos | safe}}
        });
    </script>
{% endblock contenido %}