{% extends 'dashboard.html' %}
{% load i18n %}

{% block titulo %}
    {% translate "Gráfica" %}
{% endblock titulo %}

{% block contenido %}
    <div id="grafica" style="min-width: 310px;height: 400px;margin: 0 auto"></div>
    <script src="https://code.highcharts.com/highcharts.src.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/exporting-data.js"></script>

    <script>
        Highcharts.chart('grafica',{
            lang: {
                downloadCSV: '{% translate "Descargar" %} CSV',
                downloadJPEG: '{% translate "Descargar en imágen JPEG" %}',
                downloadPDF: '{% translate "Descargar en PDF" %}',
                downloadPNG: '{% translate "Descargar en imágen PNG" %}',
                downloadSVG: '{% translate "Descargar en imagén de Vectores" %}',
                viewFullscreen: '{% translate "Ver en pantalla completa" %}',
                printChart: '{% translate "Imprimir gráfica" %}'
            },
            chart: {
                type: 'column'
            },
            title : {
                text: '{% translate "Grafica de videojuegos por categoría" %}'
            },
            subtitle: {
                text: '{% translate "Cuantos videojuegos hay por cada categoría" %}'
            },
            xAxis: {
                categories: ['{% translate "Categorías" %}']
            },
            yAxis: {
                min: 0,
                title: {
                    text: '{% translate "Cantidad de videojuegos" %}'
                }
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0,
                }
            },
            series: {{datos | safe}}
        });
    </script>
{% endblock contenido %}