{% extends 'dashboard.html' %}

{% block titulo %}
Detalle del videojuego {{object.title}}
{% endblock titulo %}

{% block contenido %}
    <h1>Título: {{object.titulo}}</h1>
    <h3>Categoría: {{object.categoria}}</h3>
    <h3>Año: {{object.anio}}</h3>
    <h3>Precio: ${{object.precio}}</h3>
    {% if object.descripcion %} 
    <div>
        <h3> Descripción: {{object.descripcion}} </h3>
    </div> 
    {% endif %}
    <a href="{% url 'videojuego:lista' %}" class="btn btn-outline-secondary">Regresar</a>
{% endblock contenido %}
