{% extends 'dashboard.html' %}
{% load static %}

{% block titulo %}
    Lista de Videojuegos
{% endblock titulo %}

{% block contenido %}
<h1 class="app-page-title">Lista de Videojuegos</h1>
<a href="{% url 'videojuego:lista_pdf' %}" class="btn btn-outline-secondary">Convertir Lista a PDF</a>
<div class="app-card app-card-orders-table shadow-sm mb-5">
  <table class="table table-hover">
    <thead>
        <th>Título</th>
        <th>Año</th>
        <th>Precio</th>
        <th>Descripción</th>
        <th>Categoría</th>
        <th>Acciones</th>
    </thead>
    <tbody>
      <!--Se pone 'object_list' porque así lo maneja el
      Framework si no lo cambiamos -->
      {% for videojuego in object_list %}
      <tr>
          <td>{{videojuego.titulo}}</td>
          <td>{{videojuego.anio}}</td>
          <td>{{videojuego.precio}}</td>
          <td>{{videojuego.descripcion}}</td>
          <td>{{videojuego.categoria_id}}</td>
          <td>
              <a href="{% url 'videojuego:ver' videojuego.id %}" class="btn btn-outline-info">Ver</a>
              <a href="{% url 'videojuego:editar' videojuego.id %}" class="btn btn-outline-warning">Editar</a>
              <button onclick="muestraModal('{% url 'videojuego:eliminar' videojuego.id %}', 'el Videojuego {{videojuego.titulo}}')" type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#eliminarModal">Eliminar</button>
              <a href="{% url 'videojuego:detalle_pdf' videojuego.id %}"><img src="{% static 'images/pdf-icon.png' %}" width="25px"></a>
          </td>
      </tr>
          {% endfor %}
    </tbody>
  </table>
</div>  

<!--Paginator-->
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">Previous</a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1">Previous</a>
      </li>
    {% endif %}
    {% for num_page in page_obj.paginator.page_range  %}
      {% if num_page == page_obj.number %}
        <li class="page-item active">
          <a class="page-link" href="?page={{ num_page }}">{{num_page}}</a>
        </li>
      {% else %}
        <li class="page-item">
          <a class="page-link" href="?page={{ num_page }}">{{num_page}}</a>
        </li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
      </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="#">Next</a>
    </li>
    {% endif %}
  </ul>
</nav>

<!-- Modal -->
<div class="modal fade" id="eliminarModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Eliminando Registro</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="modalCuerpo">
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">No</button>
          <form id="formEliminar" method="POST">
              {% csrf_token %}
              <button type="submit" class="btn btn-outline-danger">Sí, estoy seguro</button>
          </form>
      </div>
    </div>
  </div>
</div>
{% endblock contenido %} 

{% block js %}
  <script src="{% static 'js/funciones.js' %}"></script>
{% endblock js %}