{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% translate "PDF detalle de Videojuego" %}</title>
  </head>
  <body>
    <h1 class="app-page-title">{% translate "Detalle de Videojuego" %}</h1>
    <h2>{% translate "Título" %} : {{object.titulo}}</h2>
    <h3>{% translate "Categoría" %} : {{object.categoria}}</h3>
    <h3>{% translate "Año" %} : {{object.anio}}</h3>
    <h3>{% translate "Precio" %}: {{object.precio}}</h3>
    {% if object.descripcion %} 
        <div>
            <h3>{% translate "Descripción" %} : {{object.descripcion}} </h3>
        </div> 
    {% endif %}
  </body>
</html>