{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF de lista de Videojuegos</title>
  </head>
  <body>
    <h1 class="app-page-title">Lista de Videojuegos</h1>
    <div class="app-card app-card-orders-table shadow-sm mb-5">
      <table class="table table-hover">
        <thead>
          <th>Título</th>
          <th>Año</th>
          <th>Precio</th>
          <th>Descripción</th>
          <th>Categoría</th>
        </thead>
        <tbody>
          <!--Se pone 'object_list' porque así lo maneja el
          Framework si no lo cambiamos -->
          {% for videojuego in object_list %}
            <tr>
              <td>{{videojuego.titulo}}</td>
              <td>{{videojuego.anio}}</td>
              <td>{{videojuego.precio}}</td>
              <td>{{videojuego.descripcion}}</td>
              <td>{{videojuego.categoria_id}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <h4>La suma de los precios de los Videojuegos es = ${{suma}}</h4>
    </div>  
  </body>
</html>