{% extends 'dashboard.html' %}
{% load static %}
{% load i18n %}

{% block titulo %}
  {% translate "Lista de Categorías" %}
{% endblock titulo %}

{% block contenido %}
<h1 class="app-page-title">{% translate "Lista de Categorías" %}</h1>
<div class="app-card app-card-orders-table shadow-sm mb-5">
    <table class="table table-hover">
        <thead>
            <th>ID</th>
            <th>{% translate "Nombre Categoría" %}</th>
            <th>{% translate "Acciones" %}</th>
        </thead>
        <tbody>
            {% for categoria in categorias %}
                <tr>
                    <td>{{categoria.id}}</td>
                    <td>{{categoria.nombre}}</td>
                    <td><a href="{% url 'categoria:editar' categoria.id %}" class="btn btn-outline-warning">{% translate "Editar" %}</a>
                    <button onclick="muestraModal('{% url 'categoria:eliminar' categoria.id %}','la {{categoria.nombre}}')" type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#eliminarModal">{% translate "Eliminar" %}</button>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!--Paginator-->
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">{% translate "Previo" %}</a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1">{% translate "Previo" %}</a>
      </li>
    {% endif %}
    {% for num_page in page_obj.paginator.page_range  %}
      {% if num_page == page_obj.number %}
        <li class="page-item active">
          <a class="page-link" href="?page={{ num_page }}">{{num_page}}</a>
        </li>
      {% else %}
        <li class="page-item">
          <a class="page-link" href="?page={{ num_page }}">{{num_page}}</a>
        </li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}">{% translate "Siguiente" %}</a>
      </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="#">{% translate "Siguiente" %}</a>
    </li>
    {% endif %}
  </ul>
</nav>

<!-- Modal -->
<div class="modal fade" id="eliminarModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{% translate "Eliminando Registro" %}</h5>
          <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="modalCuerpo">
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">No</button>
            <form id="formEliminar" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-danger">{% translate "Sí, estoy seguro" %}</button>
            </form>
        </div>
      </div>
    </div>
  </div>
{% endblock contenido %}

{% block js %}
  <script src="{% static 'js/funciones.js' %}"></script>
{% endblock js %}