<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Lista de Videojuegos</title>
    </head>
    <body>
        <h1>Lista de Videojuegos</h1>
        <a href="{% url 'videojuego:nuevo' %}">Nuevo Videojuego</a>
        <table>
            <thead>
                <th>ID</th>
                <th>Título</th>
                <th>Año</th>
                <th>Precio</th>
                <th>Descripción</th>
                <th>Categoría</th>
                <th>Acciones</th>
            </thead>
            <tbody>
                {% for videojuego in videojuegos %}
                    <tr>
                        <td>{{videojuego.id}}</td>
                        <td>{{videojuego.titulo}}</td>
                        <td>{{videojuego.anio}}</td>
                        <td>{{videojuego.precio}}</td>
                        <td>{{videojuego.descripcion}}</td>
                        <td>{{videojuego.categoria_id}}</td>
                        <td><a href="{% url 'videojuego:editar' videojuego.id %}">Editar</a></td>
                        <td><a href="{% url 'videojuego:eliminar' videojuego.id %}">Eliminar</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>