{% extends 'dashboard_cliente.html' %}
{% load static %}

{% block titulo %}
   Detalle del artículo
{% endblock %}

{% block contenido %}
    <h1>Detalle del artículo</h1>
    <div class="product-detail">
        <img class="image" alt="Sin imagen" width="280" height="411" src="{{MEDIA_URL}}{{articulo.foto}}">
        <h1>{{ articulo.titulo }}</h1>
        <p class="price">${{ articulo.precio }}</p>
        {{ articulo.descripcion|linebreaks }}
        {% if articulo.cantidad > 0 %}
            <form action="{% url 'ventas:carrito' %}" method="POST">
                {% csrf_token %}
                <div>
                    Cantidad:
                    <select name="cantidad">
                        {% if articulo.cantidad > 9 %}
                            {% for i in '123456789'|make_list %}
                                <option value="{{ forloop.counter }}" name="cantidad">{{ forloop.counter }}</option>
                            {% endfor %}
                        {% else %}
                            {% for i in articulo.cantidad|make_list %}
                                <option value="{{ forloop.counter }}" name="cantidad">{{ forloop.counter }}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                </div>
                <br>
                <input type="hidden" name="precio" value="{{articulo.precio}}">
                <input type="hidden" name="id" value="{{articulo.id}}">
                <input type="submit" class="btn btn-warning" value="Añadir al carrito">
            </form>
        {% else %}
            <h3>NO DISPONIBLE</h3>
        {% endif %}
    </div>
{% endblock %}