{% extends "dashboard_cliente.html" %}
{% load static %}

{% block titulo %}
    Artículos
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/extra.css' %}">
{% endblock %}

{% block contenido %}
{% if messages %}
		{% for mensaje in messages %}
			<div class="alert alert-{% if message.tags == 'error' %}danger{% else %}success{% endif %}">
				{{mensaje}}
			</div>
		{% endfor %}
{% endif %}
    <h1>Lista de artículos</h1>
    <div id="main" class="product-list">
        {% for articulo in articulos %}
            <div class="item">
                <div>
                    <a href="{% url 'articulos:detalle' articulo.id %}">
                        <img class="image" alt="Sin imagen" width="280" height="411" src="{{MEDIA_URL}}{{articulo.foto}}">
                    </a>
                </div>
                <a href="">{{ articulo.titulo }}</a><br>
                {{ articulo.anio }}
                <br>
                ${{ articulo.precio }}
                <br>
                {% if articulo.cantidad > 0 %}
                    <b>Stock: {{articulo.cantidad}}</b>
                {% else %}
                <b>NO DISPONIBLE</b>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}