{% extends 'dashboard.html' %}
{% load static %}

{% block titulo %}
Detalle del Usuario {{object.username}}
{% endblock titulo %}

{% block contenido %}
    <h1>Nombre de usuario: {{object.username}}</h1>
    <h3>Nombre: {{object.first_name}}</h3>
    <h3>Apellidos: {{object.last_name}}</h3>
    <h3>Estado: {{object.estado}}</h3>
    <h3>Municipio: {{object.municipio}}</h3>
    <h3>Fecha de registro: {{object.date_joined}}</h3>
    {% if object.last_login %}
        <h3>Último Inicio de Sesión: {{object.last_login}}</h3>
    {% endif %}
    <a href="{% url 'usuarios:lista' %}" class="btn btn-outline-secondary">Regresar</a>
{% endblock contenido %}
