{% extends 'dashboard.html' %}
{% load static %}

{% block titulo %}
    Lista de Usuarios
{% endblock titulo %}

{% block contenido %}
<h1 class="app-page-title">Lista de Usuarios</h1>
<div class="app-card app-card-orders-table shadow-sm mb-5">
  <table class="table table-hover">
    <thead>
        <th>ID</th>
        <th>Nombre de usuario</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Estado</th>
        <th>Municipio</th>
        <th>Foto</th>
        <th>Acciones</th>
    </thead>
    <tbody>
      <!--Se pone 'object_list' porque así lo maneja el
      Framerowk si no lo cambiamos -->
      {% for usuario in object_list %}
      <tr>
          <td>{{usuario.id}}</td>
          <td>{{usuario.username}}</td>
          <td>{{usuario.first_name}}</td>
          <td>{{usuario.last_name}}</td>
          <td>{{usuario.estado}}</td>
          <td>{{usuario.municipio}}</td>
          <td>{{usuario.foto}}</td>
          <td>
            <a href="{% url 'usuarios:ver' usuario.id %}" class="btn btn-outline-info">Ver</a>
            <a href="{% url 'usuarios:editar' usuario.id %}" class="btn btn-outline-warning">Editar</a>
            <button onclick="muestraModal('{% url 'usuarios:eliminar' usuario.id %}','el Usuario {{usuario.username}}')" type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#eliminarModal">Eliminar</a>
          </td>
        </tr>
          {% endfor %}
    </tbody>
  </table>
</div>  

<!-- Modal -->
<div class="modal fade" id="eliminarModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Eliminando Registro</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="modalCuerpo">
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">No</button>
          <form id="formEliminar" method="POST">
              {% csrf_token %}
              <button type="submit" class="btn btn-outline-danger">Sí, estoy seguro</button>
          </form>
      </div>
    </div>
  </div>
</div>
{% endblock contenido %} 

{% block js %}
  <script src="{% static 'js/funciones.js' %}"></script>
{% endblock js %}