{% extends 'dashboard.html' %}
{% load static %}
{% load i18n %}

{% block titulo %}
{{etiqueta}} {% translate "Usuario" %}
{% endblock titulo %}

{% block contenido %}
<h1 class="app-page-title">{{etiqueta}} {% translate "Usuario" %}</h1>
    <!--La propiedad enctype="multipart/form-data permite que se puedan
    enviar imágenes a través del formulario. -->
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" class="btn btn-outline-success">{{boton}}</button>
    </form>
{% endblock contenido %}

{% block js %}
    <script src="{% static 'js/funciones.js' %}"></script>
{% endblock js %}

    