{% extends 'dashboard.html' %}
{% load static %}
{% load i18n %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/extra.css' %}">
{% endblock %}

{% block titulo %}
    {% translate "Lista de Usuarios" %}
{% endblock titulo %}

{% block contenido %}
<h1 class="app-page-title">{% translate "Lista de Usuarios" %}</h1>
<div class="app-card app-card-orders-table shadow-sm mb-5">
  <table class="table table-hover">
    <thead>
        <th>{% translate "Foto" %}</th>
        <th>{% translate "Nombre de usuario" %}</th>
        <th>{% translate "Nombre" %}</th>
        <th>{% translate "Apellido" %}</th>
        <th>{% translate "Estado" %}</th>
        <th>{% translate "Municipio" %}</th>
        <th>{% translate "Acciones" %}</th>
    </thead>
    <tbody>
      <!--Se pone 'object_list' porque así lo maneja el
      Framerowk si no lo cambiamos -->
      {% for usuario in object_list %}
      <tr>
          <td>
            {% if usuario.foto %}
              <img src="{{MEDIA_URL}}{{usuario.foto}}" alt="" width="40px">
            {% else %}
              <img src="{% static 'images/nouser.png' %}" alt="" width="40px">
            {% endif %}
          </td>
          <td>{{usuario.username}}</td>
          <td>{{usuario.first_name}}</td>
          <td>{{usuario.last_name}}</td>
          <td>{{usuario.estado}}</td>
          <td>{{usuario.municipio}}</td>
          <td>
            <a href="{% url 'usuarios:ver' usuario.id %}" class="btn btn-outline-info">{% translate "Ver" %}</a>
            <a href="{% url 'usuarios:editar' usuario.id %}" class="btn btn-outline-warning">{% translate "Editar" %}</a>
            <button onclick="muestraModal('{% url 'usuarios:eliminar' usuario.id %}','el Usuario {{usuario.username}}')" type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#eliminarModal">{% translate "Eliminar" %}</button>
            <a href="#" class="btn btn-outline-success">{% translate "Activar" %}</a>
            <button id="usuarioGrupo" onclick="muestraModalGrupos('{% url 'usuarios:modificar_usuario_grupo' usuario.id %}')" type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#gruposModal">{% translate "Grupos" %}</button>
          </td>
        </tr>
          {% endfor %}
    </tbody>
  </table>
</div>  

<!--Paginator-->
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">{% translate "Previo" %}</a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1">{% translate "Previo" %}</a>
      </li>
    {% endif %}
    {% for num_page in page_obj.paginator.page_range  %}
      {% if num_page == page_obj.number %}
        <li class="page-item active">
          <a class="page-link" href="?page={{ num_page }}">{{num_page}}</a>
        </li>
      {% else %}
        <li class="page-item">
          <a class="page-link" href="?page={{ num_page }}">{{num_page}}</a>
        </li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}">{% translate "Siguiente" %}</a>
      </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="#">{% translate "Siguiente" %}</a>
    </li>
    {% endif %}
  </ul>
</nav>

<!-- Modal -->
<div class="modal fade" id="eliminarModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{% translate "Eliminando Registro"  %}</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="modalCuerpo">
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">{% translate "No" %}</button>
          <form id="formEliminar" method="POST">
              {% csrf_token %}
              <button type="submit" class="btn btn-outline-danger">{% translate "Sí, estoy seguro" %}</button>
          </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal Grupos -->
<div class="modal fade" id="gruposModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{% translate "Asignación de Grupos" %}</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="modalCuerpoGrupos">
        <table class="table">
          <thead>
            <th>{% translate "Nombre del grupo" %}</th>
            <th>{% translate "Habilitado" %}</th>
          </thead>
          <tbody>
            <div id="permisosAsignados">
              {% for grupo in lista_grupos %}
                <tr>
                  <td>{{grupo}}</td>
                  <td>
                    <label class="switch" >
                      <input type="checkbox" name='{{grupo}}'>
                      <span class="slider round"></span>
                    </label>                  
                  </td>
                </tr>  
              {% endfor %}
            </div>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">{% translate "Descartar cambios" %}</button>
          <form id="formGrupos" method="POST">
              {% csrf_token %}
              <button type="submit" class="btn btn-outline-success">{% translate "Guardar cambios" %}</button>
          </form>
      </div>
    </div>
  </div>
</div>
{% endblock contenido %}

{% block js %}
  <script src="{% url 'videojuego:javascript_catalog' %}">
    alert(gettext('Registrarse'))
  </script>
  <script src="{% static 'js/funciones.js' %}"></script>
{% endblock js %}